<ion-content>
  <!-- work -->

  <ion-row>
    <ion-col style="border-bottom: 1px dotted black;">
      <ion-text>Work</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="padding:20px;color:darkcyan;">
    <ion-col style="padding:20px;border-bottom:1px solid grey;" size="1px">
      <ion-icon style="border:1px black dotted;height: 18px;width: 18px;padding: 7px;" name="add"></ion-icon>
    </ion-col>
    <ion-col style="padding:20px;border-bottom:1px solid grey;">
      <ion-text style="font-size: 20px;">Add a Work</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left:40px;">
    <ion-col size="1px">
      <ion-icon style="height: 40px;width: 40px;" name="briefcase"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-text style="font-size: 25px;line-height: 10px;">{{ work.companyName }}</ion-text
      ><br />
      <ion-text style="font-size: large;color:#757560"
        >{{ work.position }} ({{ work.place }}) ({{ work.dateFrom }} to {{ work.dateTo }} ) .</ion-text
      >
    </ion-col> </ion-row
  ><br />
  <ion-row style="padding-left:40px;">
    <ion-col size="1px">
      <ion-icon style="height: 40px;width: 40px;" name="briefcase"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-text style="font-size: 25px;line-height: 10px;">Rentastico</ion-text><br />
      <ion-text style="font-size: large;color:#757560"
        >director . (Hyderabad, Telangana, India) (Feb 4, 2020 to Feb 12, 2020) .</ion-text
      >
    </ion-col> </ion-row
  ><br /><br />
  <!-- education -->

  <ion-row>
    <ion-col style="border-bottom: 1px dotted black;">
      <ion-text>Education</ion-text>
    </ion-col>
  </ion-row>

  <ion-row style="padding:20px;color:darkcyan;">
    <ion-col style="padding:20px;border-bottom:1px solid grey;" size="1px">
      <ion-icon style="border:1px black dotted;height: 18px;width: 18px;padding: 7px;" name="add"></ion-icon>
    </ion-col>
    <ion-col style="padding:20px;border-bottom:1px solid grey;">
      <ion-text style="font-size: 20px;">Add a Education</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left:40px;">
    <ion-col size="1px">
      <ion-icon style="height: 40px;width: 40px;" name="book"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-text style="font-size: 25px;line-height: 10px;">B.Tech</ion-text><br />
      <ion-text style="font-size: large;color:#757560"
        >JNTUH . (Hyderabad, Telangana, India) (Feb 4, 2020 to Feb 12, 2020) .</ion-text
      >
    </ion-col> </ion-row
  ><br />
  <ion-row style="padding-left:40px;">
    <ion-col size="1px">
      <ion-icon style="height: 40px;width: 40px;" name="book"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-text style="font-size: 25px;line-height: 10px;">Diploma</ion-text><br />
      <ion-text style="font-size: large;color:#757560"
        >GPT . (Hyderabad, Telangana, India) (Feb 4, 2020 to Feb 12, 2020) .</ion-text
      >
    </ion-col>
  </ion-row>
</ion-content>
