<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label translate>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="logo-angular"></ion-icon>
      <ion-label translate>About</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label translate>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="overview">
      <ion-icon name="help-buoy"></ion-icon>
      <ion-label translate>Overview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon name="cog"></ion-icon>
      <ion-label translate>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="properties">
      <ion-icon name="Home"></ion-icon>
      <ion-label translate>Properties</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="addtogo">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label translate>add to go</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="work">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label translate>work</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
