<ion-content>
  <div class="FormBody">
    <ion-row style="background-color:#23b7e5">
        <ion-col size="10">
            <ion-text style="font-size: 25px;color: white;padding: 10px;">
                Add to TGO
              </ion-text>
        </ion-col>
        <ion-col size="1">
            <ion-button><ion-icon name="arrow-up"></ion-icon></ion-button>
            
        </ion-col>
      
    </ion-row>
    <form style="border-bottom: 1px solid grey;">
      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" class="inputLineHeight"
          class="inputLineHeight">
          <ion-label position="floating">Property Name</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item style="border: 1px solid gray;">
            <ion-select interface="popover" class="selectWidth" placeholder="Select">
              <ion-select-option value="dos">Taj Krishna</ion-select-option>
              <ion-select-option value="lunix">White Palace </ion-select-option>
              <ion-select-option value="mac7">Taj Banjara</ion-select-option>
              <ion-select-option value="mac8">NV Houses</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1"
          class="inputLineHeight">
          <ion-label position="floating">Promotion</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item style="border: 1px solid gray;">
            <ion-select interface="popover" class="selectWidth" placeholder="Select">
              <ion-select-option value="dos">Night Off(21-01-2020)</ion-select-option>
              <ion-select-option value="lunix">Price Off(24-01-2020)</ion-select-option>
              <ion-select-option value="mac7">Percentage Off(12-01-2020)</ion-select-option>
              <ion-select-option value="mac8">Night Off(28-01-2020)</ion-select-option>
              <ion-select-option value="lunix">Night Off(11-01-2020)</ion-select-option>
              <ion-select-option value="mac7">Night Off(14-01-2020)</ion-select-option>
              <ion-select-option value="mac8">Night Off(19-01-2020)</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1"
          class="inputLineHeight">
          <ion-label position="floating">Price</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item>
            <ion-text position="floating"><strong> $240 </strong> </ion-text>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1">
          <ion-label position="floating">Is Percentage</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-checkbox color="primary"></ion-checkbox>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1"
          class="inputLineHeight">
          <ion-label position="floating">The Premium</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item style="border: 1px solid grey;">
            <ion-input type="text"  maxlength="4" style="height: 30px;"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1"
          class="inputLineHeight">
          <ion-label position="floating">Last Minute</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item style="border: 1px solid grey;">
            <ion-input type="text" style="height: 30px;"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col csize-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" offset="1" offset="1"
          class="inputLineHeight">
          <ion-label position="floating">The Ultimate</ion-label>
        </ion-col>
        <ion-col csize-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
          <ion-item style="border: 1px solid grey;">
            <ion-input type="text" style="height: 30px;"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row><br>
    </form>

<ion-row>
    <ion-col style="padding:15px 0 15px 0;" offset="6.5">
        <ion-button color="light" shape="round">
          Close
        </ion-button>
        <ion-button shape="round" color="secondary">
          Process
        </ion-button>
  
      </ion-col>
</ion-row>
   


  </div>

</ion-content>
